*{
  box-sizing: border-box ;
  }

html, body{
  height: 100%;
}

body{
  background-color: hsl(233, 47%, 47%);
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Sans-Serif;
}

        /* Widget */
 .widget{
  width: 100%;
  max-width: 1440px;
 background-color: hsl(244,38%,16%);
   
 }
 
 /* Columns left*/
 .left{
   color: white;
   padding: 3rem;
 }