*{
  box-sizing: border-box ;
  }

html, body{
  height: 100%;
}

body{
  background-color: rgb(64, 77, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Sans-Serif;
}

        /* Widget */
 .widget{
  width: 100%;
  max-width: 1440px;
  background-color: rgb(27, 25, 56);
  display: flex;
 }
 
 /* Columns left*/
 .left{
   color: white;
   padding: 3rem;
   flex-basis: 50%;
 }
 
 .right{
  flex-basis: 50%;
  background-image: url("https://raw.githubusercontent.com/sejir76/stats-card/main/images/image-header-mobile.jpg");
 }